*{
    margin:0;
    padding:0;
}
.body{
    background-image: url("sunset.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width:400px;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 50px rgb(15, 15, 15);
   backdrop-filter: blur(6px);
   border-radius: 5px;
}
#head1,#head3{
    text-align: center;
    color:rgb(221, 240, 231);
    text-shadow: 2px 2px 2px rgb(74, 72, 72);
}
#head3{
    padding: 3px;
    font-size:17px;
    font-weight: 400;
}
#head2{
    font-size: 25px;
    text-align: center;
    
}
.result_box{
    width:320px;
    height: 200px;
    border: none;
    border-radius: 5px;
    background-color: rgb(48, 47, 47);
    color:whitesmoke;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width:200px;
    height: 30px;
    font-size: 19px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.input_box{
    margin: 16px;
    
}
.input_box input:focus{
    outline: none;
}

.btn1,.btn2{
    margin:5px;
    width:210px;
    height: 30px;
    font-size: 15px;
    transition:background-color 0.5s;
}
.alert1,.alert2,.answer{
    display:none ;
}
.alert1.active{
    display:block;
}
.alert2.active{
    display:block;
}
.answer.active{
    display:block;
}
.btn1,.btn2,#input{
    border: none;
    border-radius: 5px;
}
.btn1:hover{
    background-color: rgb(5, 123, 98);
    color: aliceblue;
}
.btn2:hover{
    color: aliceblue;
    background-color: rgb(98, 149, 98);
}

@media(max-width:800px){
    .container{
        width:500px;
    }
}
@media(max-width:600px){
    .container{
        width:600px;
    }
}
@media(max-width:400px){
    .container{
        width:700px;
    }
}